body {
    font-family: 'Franklin Gothic Medium';
    font-size: medium;
}

a {
    color: rgb(33, 144, 218);
    text-decoration: none;
    font-weight: 300;
    text-size-adjust: none;
    
}

a:hover {
    color: #087a2b;
  }

  .card-body{
      color: black;
      text-align: center;
      align-items: center;
      font-family: 'Franklin Gothic Medium';
      
  }
  
.card {
    border-color: green;
    border-width: thick;
}

  .row {
      padding-left: 20px;
  }

  .button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 100%;
    background-color: #0a7938;
    border-radius: 5px;
    padding: 2px 10px;
    color: white;
    border: 0;
    transition: background-color 0.1s;
  }
  

h1 {
    text-align: center;
    
}

.p {
    text-align: center;
}

.card-body {
    align-items: center;
}



h2 {
    align-items: center;
    padding-right: 300px;
}

.submit {
    background-color: mediumblue;
    color: white;
    border-color: none;
}